<div class="main-div">
    <mat-card class="example-card-one">
        <h2>Admin</h2>
        <p>
            It's task is to register users, create teams and assign people to teams</p>
        <img class="img3" src="./assets/img/about1_img.PNG"/>
    </mat-card>

    <mat-card class="example-card-two">
        <h2>Manager</h2>
        <p>It's task is to assign, check and close tasks for people in the team</p>
        <img class="img4" src="./assets/img/about2_img.PNG"/>
    </mat-card>

    <mat-card class="example-card-three">
        <h2>Programmer</h2>
        <p>Its task is to perform tasks and report <br> progress</p>
        <img class="img5" src="./assets/img/about3_img.PNG"/>
    </mat-card>
</div>