.main-div {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.example-card-one {
    width: 300px;
    height: 300px;
    text-align: center;
    color: gray;
    border-radius: 35px;
}

.example-card-two {
    width: 300px;
    height: 300px;
    text-align: center;
    color: gray;
    border-radius: 35px;
}

.example-card-three {
    width: 300px;
    height: 300px;
    text-align: center;
    color: gray;
    border-radius: 35px;
}

:host ::ng-deep .mat-card {
    border-color: #0ca2c7 !important;
    border-style: solid !important;
    border-width: 2px !important;
}
